
.jumbotron.text-center
    %h1 WebStylist
    %p A place for confect and share your web styles
    =link_to confections_path do
        %span.btn.btn-lg.btn-info
            Start to Confect

= render 'confections/list', :confections => @last_confections, :actions => false




