<h1>WebStylist</h1>
<p>A place for confect and share your web styles</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>
    </tr>
  </thead>

  <tbody>
    <% @last_confections.each do |confection| %>
      <tr>
        <td><%= confection.name %></td>
        <td>
          <div class="confection-preview" style="<%= confection.code %>" title="<%= confection.code %>"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>