%p{:id => "notice"}= notice

%p
	%strong Name:
	=@confection.name

%p
	.confection-preview{:style => "#{@confection.code}"} 
	%br/
	%strong Code:
	%pre
		%code
			=@confection.code

= link_to 'Edit', edit_confection_path(@confection)
|
= link_to 'Back', confections_path 
